<!DOCTYPE html>
<html>
    <head>
      <script>
          localStorage.removeItem("current_channel");

          if(!localStorage.getItem('displayName'))
          {
              window.location.href = "/";
          }
      </script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="static/style.css">

      <title>Welcome to Flack</title>
  </head>
  <body>
      <h1 id="title" class="text-center">Welcome to Flack</h1>

      <div id="main-box">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="notification alert alert-warning" role="alert">
            {{ messages[0] }}.
        </div>
      {% endif %}
      {% endwith %}

      <ul id="channels-list">
        {% for channel in channels %}
            <li>
                <a href="{{ url_for('channel', channel_name=channel) }}">
                    {{ channel }}
                </a>
            </li>
        {% endfor %}
      </ul>

      <form action="{{ url_for('new_channel') }}" method="post" id="form-container">
            <input id="create-box" type="text" name="channel_name" placeholder="Create a new channel">
            <button id="create-button" class="btn btn-block btn-primary" type="submit">Create</button>
      </form>
      </div>
  </body>
</html>
